
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Yapılacak Uygulama Giriniz : "(keyup.enter)="AddTodo(todoText)" #todoText>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="AddTodo(todoText)">Ekle</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<hr>
<div class="panel panel-default" *ngIf="todos.length; else mytemp">
  <div class="panel-heading">Yapılacaklar</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Yapılacak</th>
        <th>Ekleme Tarihi</th>
        <th>Sil</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{todo.text}}</td>
        <td>{{todo.createdAt | date: 'dd.MM.yyyy/hh.mm.ss'}}</td>
        <td><button class="btn btn-danger" (click)="RemoveTodo(todo)">Sil</button></td>
      </tr>
    
    </tbody>
  </table>
</div>
<ng-template #mytemp>
  <div class="alert alert-danger" role="alert">Yapılacak iş yok. Ekle</div>
</ng-template>